
.ocmas-page {
  background: #ffffff !important; 
}

/*.ocmas-page */
.as-app-header .sapMBarChild {
  color: white;
  font-size: 1.3rem!important;
  text-shadow: none!important;
}

/*.ocmas-page>*/
.sapMPageHeader {
  background: none !important;
  box-shadow: none !important;
  background: -webkit-linear-gradient(left, #474187, #60468D) !important;
  background: linear-gradient(to right, #474187, #60468D) !important;
  border-bottom: 1px solid white;
}

.as-app-header .sapMBtn:hover>.sapMBtnHoverable {
  background-color: transparent !important;
}

.as-app-header .sapMBtnIcon {
  color: #ffffff;
}

.ocm-empty-label {
  color: #ffffff;
  margin-top: 200px;
}

.as-app-header .sapMBtnInner {
  color: #ffffff;
  text-shadow: 0 1px 0 transparent;
}

.ocm-borderless-button .sapMBtnInner {
  border: 0 solid #bfbfbf;
}

/*.ocmas-page*/
#__page0-cont {
  background-color: white !important;
}

.as_SubheaderBar {
  background: none !important;
  background-color: white! important;  
  box-shadow: none !important;
  margin-left: 4%;
}

.as_SubheaderBar .sapMBtnIcon {
  color: #000000;
}

.acctitle {
  font-size:20px;
}

.accSettingsTable {
  background: none !important;
  background-color: white! important;
  box-shadow: none !important;
  margin-left: 4%;  
}

.accSettingsTable .panels .sapMPanelContent {
  border-bottom: 0;
  background-color: inherit;
  margin-left: -5%;
  margin-top: -8%;
}

.accSettingsTable .panels .sapMPanelContent .sapUiIcon {
  margin-left: 2%;
  color: white;
}

.panels {
  margin-top: 15px;
  height: 35px !important;
}

.Subpanel {
  background-color: #ffffff;
  border-bottom: 1px solid #474187;
}

.Subpanel .sapMPanelExpandableIcon {
  display: none; 
}

.Subpanel .sapMPanelContent {
  height: 100px;
}

.sapUiHLayoutChildWrapper .sapMPanelContent {
  border-bottom: 0 !important;
}

.Subpanel .sapUiHLayout {
  width: 100%;
}

.Subpanel .sapUiHLayoutChildWrapper {
  width: 25%;
}

/*.ocmas-page */
.Subpanel .sapUiHLayoutChildWrapper:nth-child(4) .sapUiRespGridSpanS12 {
  padding-top: 19px;
}


.Subpanel .sapUiRespGridBreak {
  margin-bottom: 0 !important;
}

.AddgeneralHeader, .AddcarrierHeader, .AddcontactHeader {
  background-color: white;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.AddgeneralHeader .sapMBarContainer, .AddcarrierHeader .sapMBarContainer, .AddcontactHeader .sapMBarContainer {
  border-bottom: 2px solid grey;
  height: 40px;
}

.AddgeneralHeader .sapMBarContainer .sapMText, .AddcarrierHeader .sapMBarContainer .sapMText, .AddcontactHeader .sapMBarContainer .sapMText {
  font-weight: bold;
  font-size: 16px;
}

.verticalLayout {
  margin-left: 2%;
}

.verticalLayout .sapMInput .sapMInputBaseInner, .Addcontrolcenter, .Addcarrier, .Addstate, .Addcountry {
  height: 33px;
}

.vertalLayout td {
  padding: 0;
}

.Addaddlink {
  margin-left: 3px;
  height: 40px;
}

*:focus, *:active, *:hover {
  outline: none !important;
}

.Addremovelink {
  height: 40px;
}

.Addcontrolcenter .sapMSltLabel, .Addcarrier .sapMSltLabel, .Addstate .sapMSltLabel, .Addcountry .sapMSltLabel {
  line-height: 32px;
}

.Addcontrolcenter .sapMSltArrow, .Addcarrier .sapMSltArrow, .Addstate .sapMSltArrow, .Addcountry .sapMSltArrow {
  line-height: 34px;
}

.sortcustomdialog .sapMListtblCell, .sortcustomdialog .sapMDialogScrollCont {
  padding:0 !important;
}

.orderTable {
  border-bottom: 1px solid grey;
}

.filterTokenizer {
  background: #2b68a3;
  width: 91%;
  margin-left: 4%;
}

.filterTokenizer .sapMToken {
  background: #2b68a3;
  cursor: pointer;
}

.filterTokenizer .sapMLabel {
  font-style: italic;
  font-size: 0.875rem;
  font-family: Arial,Helvetica,sans-serif;
  color: #ffffff;
  padding: 0.3rem 0.375rem 0.3rem 0.375rem;
}

.filterTokenizer .sapMTokenText, .filterTokenizer .sapMTokenIcon, .filterTokenizer .sapUiIcon {
  color: #ffffff;
  cursor: pointer;
}

.as_SubheaderBar .sapMBarLeft {
  height: auto !important;
}

.sapMMsgBoxText {
  margin: 20px; 
}

.sapMDialogScrollCont {
  padding: 0; 
}

.radiobuttonheight .sapMLabel {
  font-weight: bold;
  font-size: 16px;
}
